label.required for="username" Username:
input.required type="text" name="user[username]" value="#{@user.username}" size="32" placeholder="username *"
label for="forename" Vorname:
input type="text" name="user[forename]" value="#{@user.forename}" size="32" placeholder="vorname"
label for="familyname" Nachname:
input type="text" name="user[familyname]" value="#{@user.familyname}" size="32" placeholder="nachname"
label.required for="email" Email:
input.required type="email" name="user[email]" value="#{@user.email}" size="32" placeholder="email *"